.btn {
    border-radius: var(--border-radius-rounded);
    font-weight: normal;

    &.btn-primary {
        .os-dark-mode & {
            background-color: var(--color-primary-lighter);
            border: none;
        }
    }
}

.btn-secondary {
    .os-dark-mode & {
        color: var(--color-primary-lighter);
    }
}

.btn-terciary {
    background-color: var(--color-primary-lightest);
    border: none;
    color: var(--color-primary);

    &.btn:not([class*="border-radius"]) {
        border-radius: var(--border-radius-rounded);
    }
}

.top-wrapper-btns {
    align-items: center;
    display: flex;

    .btn:not([class*="border-radius"]) {
        border-radius: var(--border-radius-rounded);
    }
}

.btn-filter {
    background-color: rgba(194, 194, 194, 0.336);
    border: none;
    color: var(--color-neutral-10);
    margin-right: 0.5rem;
    padding: 0.5rem;

    &-list {
        border-radius: var(--border-radius-soft) !important;
    }

    i {
        padding-left: 16px;
        margin: 0;
    }
}

.btn-sidebar {
    align-items: center;
    background: white;
    border: none;
    box-shadow: var(--shadow-l);
    color: var(--color-primary);
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 2.5rem;

    .os-dark-mode & {
        color: var(--color-neutral-10);
        background-color: var(--color-background-body);
    }
}

