[data-dropdown] {
    & > div.dropdown-display,
    & > select.dropdown-display,
    & > options.dropdown-display {
        border: none;
        padding: var(--space-s);
        font-weight: var(--font-bold);
    }
}
.dropdown-container {
    & > div.dropdown-display:hover,
    & > select.dropdown-display:hover,
    & > div.dropdown-display:focus,
    & > select.dropdown-display:focus {
        border: none;
    }
    &:after{
        left: 80px;
    }
}

.wrapper {
    &-weekday {
        flex-direction: row;
        gap: 12px;
        margin-top: var(--space-base);

        .scrollable-area-content & {
            display: flex;
        }

        .list {
            padding-bottom: var(--space-s);
        }
    }
}

.calendar {
    &-wrapper {
        position: relative;

        &--overlay {
            background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 0%,
                rgb(255 255 255 / 0%) 70%,
                rgb(255 255 255) 100%
            );
            bottom: 0;
            left: 0;
            position: absolute;
            pointer-events: none;
            top: 0;
            right: 0;
            z-index: 1;
        }
    }

    &-weekday {
        --_week-color: #1666ac;
        --_weekday-background-color: #1a79cb;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: var(--space-s);
        padding: var(--space-base) var(--space-s);
        width: 14%;
        z-index: 0;

        &--is-selected {
            border-radius: var(--border-radius-rounded);
            background-color: var(--_weekday-background-color);

            span {
                color: var(--color-neutral-0) !important;
            }

            .calendar-weekday-day {
                i {
                    color: var(--color-neutral-0);
                }
            }
        }

        &-week {
            align-self: center;
            color: var(--_week-color);
            font-size: var(--font-size-base);
            margin: 0;
        }
        &-day {
            align-self: center;
            color: var(--color-neutral-7);
            font-weight: var(--font-bold);
            margin: 0;

            i {
                color: transparent;
                position: absolute;
                transform: translate3d(12px, -10px, 10px);

                &.fa {
                    font-size: 8px;
                }
            }
        }
    }
}

