/******
*
*   CARD SIDEBAR MEDICAL
*
******/
.card-medical {
    align-items: center;
    border: none;
    border-radius: 20px;
    background: rgba(173, 216, 230, 0.43);
    display: flex;
    margin-bottom: 1.5rem;
    padding: 0.5rem;

    .info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
        width: 100%;

        span:nth-child(-n + 3) {
            color: rgba(104, 194, 225, 0.681);
            font-size: var(--font-size-s);
        }
        span:nth-child(n + 4) {
            color: var(--color-blue);
            font-size: var(--font-size-base);
            font-weight: var(--font-bold);
        }
        span:nth-child(3n + 2) {
            border-left: 1px solid var(--color-blue-lighter);
            border-right: 1px solid var(--color-blue-lighter);
        }
    }

    .os-dark-mode & {
        background-color: #e8f1f9;
    }
}

/******
*
*   CARDS STATISTICS
*
******/
.wrapper {
    &-cards-top {
        --_cards-height: 260px;
        color: var(--color-neutral-0);
        margin: var(--space-xxl) 0 var(--space-l) 0;

        &-first {
            background-color: #5fa1da;
            border: none;
            min-height: var(--_cards-height);
            padding: var(--space-l);

            .wrapper-chart-column {
                display: flex;
                flex-direction: column;
                gap: var(--space-xs);

                span {
                    margin: 0;
                }

                &-subtitle {
                    font-size: var(--font-size-base);
                    font-weight: var(--font-bold);
                }
            }
        }
        &-second {
            background-color: #c5b5f5;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: var(--_cards-height);
            padding: 0 var(--space-xl);

            .wrapper {
                &-title {
                    display: flex;
                    flex-direction: column;
                    gap: var(--space-xs);

                    span {
                        margin: 0;
                    }

                    &-result {
                        font-size: var(--font-size-base);
                        font-weight: var(--font-bold);
                    }
                }
                &-footer {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        &-third {
            background-color: #eeadc4;
            border: none;
            min-height: var(--_cards-height);
            padding: var(--space-l);

            &:first-child {
                margin-bottom: var(--space-s);
            }
        }
    }

    &-cards-middle {
        --_color-title: #85a5c2;
        --_color-content: #59748a;
        margin-bottom: var(--space-base);

        &-first,
        &-second {
            border: none;

            .wrapper-chart-line {
                display: flex;
                flex-direction: column;
                gap: var(--space-s);
                margin-bottom: var(--space-base);

                span {
                    margin: 0;
                }

                &-title {
                    color: var(--_color-title);
                    font-size: var(--font-size-base);
                }
                &-subtitle {
                    color: var(--_color-content);
                    font-weight: var(--font-bold);
                }
            }
        }
    }

    &-cards-bottom {
        --_color-title: #85a5c2;
        --_color-content: #59748a;
        font-size: var(--font-size-base);

        &-first,
        &-second {
            border: none;
        }

        .wrapper {
            &-name {
                color: var(--_color-title);
                margin-bottom: var(--space-base);
                text-align: center;
            }
            &-result {
                color: var(--_color-content);
                font-weight: var(--font-bold);
                margin-bottom: var(--space-base);
                text-align: center;
            }
            &-empty {
                color: transparent;
                margin-bottom: var(--space-base);
                text-align: center;
            }
        }

        .wrapper-content {
            align-items: center;
            color: var(--_color-content);
            display: flex;
            flex-direction: column;
            gap: var(--space-s);

            span {
                margin: 0;
            }

            :nth-child(2) {
                font-weight: var(--font-bold);
            }

            .wrapper-icon {
                align-items: center;
                background-color: #eef7fe;
                border-radius: var(--border-radius-soft);
                display: flex;
                height: 48px;
                justify-content: center;
                min-width: 48px;

                &-first {
                    color: #3b76ef;
                }
                &-second {
                    color: #5fc5ff;
                }
                &-third {
                    color: #a66dd4;
                }
            }
        }
    }
}

