/******
*
*   CARD EMPLOYEE
*
******/
.container-cards {
    margin: 2rem;
}
.container-card {
    display: flex;
}
.card-employee-top {
    display: flex;
}






/******
*
*   CARD SIDEBAR
*
******/
.card-sidebar {
    border-radius: var(--border-radius-soft);
}