.pagination-button {
    border: none;

    &.is--active,
    &:not(.is--ellipsis):hover {
        border-radius: var(--border-radius-rounded);
    }
    &:not(.is--active) {
        background: transparent;
    }
}
