@use "../0-abstract/scss-functions" as scss-functions;

/* ==================================================================== */
/*  Root - CSS Variables                                                */
/* ==================================================================== */

:root {
    /* Color - Brand */
    --color-primary-darkest: #28065C;
    --color-primary-darker: #5102B0;
    --color-primary-dark: #6400DC;
    --color-primary: #8637FB;
    --color-primary-light: #DACDFF;
    --color-primary-lighter: #ECE4FF;
    --color-primary-lightest: #F4F0FF;

    --color-secondary-darkest: #0C454F;
    --color-secondary-darker: #0C454F;
    --color-secondary-dark: #105966;
    --color-secondary: #107485;
    --color-secondary-light: #9ED7E0;
    --color-secondary-lighter: #E2F3F6;
    --color-secondary-lightest: #E2F3F6;

    --color-primary-hover: var(--color-primary-dark);
    --color-primary-selected: var(--color-primary-dark);

    --color-background-main: #F2F9FF;

    --color-error: #E03131;
    --color-warning: #E9A100;
    --color-success: #2A843C;
    --color-info: #009DD3;

    --header-size: 56px;
    --header-size-content: 48px;
    --side-menu-size: 112px;
    --page-size: 1920px;
    --sidebar-size: 500px;
    --expanded-width: calc( var(--page-size) -(var(--sidebar-size)) );

    --font-bold: 500;

    --font-size-display: #{scss-functions.px-to-rem(36px)};

    --font-size-h1: #{scss-functions.px-to-rem(32px)};
    --font-size-h2: #{scss-functions.px-to-rem(28px)};
    --font-size-h3: #{scss-functions.px-to-rem(26px)};
    --font-size-h4: #{scss-functions.px-to-rem(22px)};
    --font-size-h5: #{scss-functions.px-to-rem(20px)};
    --font-size-h6: #{scss-functions.px-to-rem(18px)};

    --font-size-base: #{scss-functions.px-to-rem(16px)};
    --font-size-s: #{scss-functions.px-to-rem(14px)};
    --font-size-xs: #{scss-functions.px-to-rem(12px)};
    --font-size-label: #{scss-functions.px-to-rem(11px)};
}

.highlight-styles,
.os-dark-mode {

    --color-primary-dark: #6400dc;
    --color-primary: #a799ff;
    --color-primary-light: #e2c9ff;

    --color-neutral-0: #0e0e0e;
    --color-neutral-1: #141414;
    --color-neutral-2: #1f1f1f;
    --color-neutral-3: #252525;
    --color-neutral-4: #282828;
    --color-neutral-5: #323232;
    --color-neutral-6: #858585;
    --color-neutral-7: #c9c9c9;
    --color-neutral-8: #d7d7d7;
    --color-neutral-9: #F8F9FA;
    --color-neutral-10: #fff;

     --header-color: var(--color-neutral-3);

    color: var(--color-neutral-9);
}

.os-dark-mode {
    --color-background-body: #303438;
    --color-background-main: #0E0F10;
}

.os-dark-mode .highlight-styles {

  --color-primary-dark: #32006b;
  --color-primary: #6400dc;
  --color-primary-light: #c199f1;

  --color-neutral-0:#ffffff;
  --color-neutral-1:#f8f9fa;
  --color-neutral-2:#f1f3f5;
  --color-neutral-3:#e9ecef;
  --color-neutral-4:#dee2e6;
  --color-neutral-5:#ced4da;
  --color-neutral-6:#adb5bd;
  --color-neutral-7:#6a7178;
  --color-neutral-8:#4f575e;
  --color-neutral-9:#272b30;
  --color-neutral-10:#101213;

}