.search-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1.5rem 0;
    overflow: hidden;

    .input-wrapper {
        border-bottom: 1px solid lightgrey;

        .input-with-icon .input-with-icon-content-icon, .input-with-icon .input-with-icon-content-icon a {
            background-color: var(--color-background-main);
        }
    }

    i {
        align-self: center;
        color: var(--color-primary);
    }

    input {
        background: transparent;
        background-color: var(--color-background-main) !important;
        border: none;
        float: left;
        font-family: var(--font-family-main);
        position: static;
        width: 100%;
    }

    .btn:not([class*="border-radius"]) {
        border-radius: var(--border-radius-rounded);
    }

    &.tablet .form-control[data-input], .phone .form-control[data-input] {
        font-size: var(--font-size-xs);
    }
}

